 # Python Fundamentals

### iPython Notebook Magic

#### Short cut keys:

-  comment out a line of code = command + /
-  run block of code = shift + enter
-  autocomplete text = tab
-  help for function = shift + tab
-  view shortcut menu - esc then h

#### Web based viewer for ipython notebooks
http://nbviewer.ipython.org/

### Write your first python program

In [2]:
print "Hello there, I'm a Data Scientist!"

Hello there, I'm a Data Scientist!

### Numbers in python:

Numeric types: ***int, float,*** and ***bool***.

In [11]:
type(2)

int

In [12]:
type(5.5)

float

In [14]:
type(True)

bool

In [15]:
type(2+3j)

complex

In [17]:
type("String")

str

### String Insertion
Basic string insertions

In [19]:
print "My name is {}".format('Craig')

My name is Craig

In [21]:
name = "Sana"
print "Where in the world is {}?".format(name)

Where in the world is Sana?

In [22]:
place = "CA"
print "{} is in {}".format(name,place)

Sana is in CA

You can insert multiple values into strings but requires labels

In [29]:
place = "SF"
print "{0} is in {1} and the address is: {2}".format(name, place, "5th Mission")

Sana is in SF and the address is: 5th Mission

Try reversing order of the variables name and place.|

In [30]:
place = "SF"
print "{1} is in {0} and the address is: {2}".format(place, name, "5th Mission")

Sana is in SF and the address is: 5th Mission

### Basic math in python
Some operators are pretty obvious

In [31]:
5+5

10

10+6

In [32]:
10 % 3

1

In [33]:
3 * 7

21

But some operators are less intuitive

In [37]:
print "Hello" + " " + "World"

Hello World

In [38]:
10 % 2 # modulo operator (i.e. reminder)

0

In [39]:
10 ** 2 # exponent

100

In [40]:
550 / 9

61

In [42]:
27/2 * 5

65

Assign values to variables

In [44]:
x = 10
y = 5
z = 4
type(y)

int

In [45]:
float(y)

5.0

In [46]:
int(y)

5

Use math with variables

In [47]:
x - y

5

In [48]:
y * z

20

Try dividing x by z

In [49]:
x / z

2

Try dividing x by 4.0

In [50]:
x / 4.0

2.5

### Functions

#### Syntax requires 4 things:
-  prefix of 'def'
-  name for function
-  parentheses followed by a colon
-  indented code on the next line

Create a simple function

In [57]:
def simplest_function():
    print "Hey, I made a function!"
simplest_function()

Hey, I made a function!

Call function by name

In [58]:
simplest_function()

Hey, I made a function!

You can create a function that requires an input and returns a result

In [61]:
def square(input_x):
    return input_x ** 2

In [62]:
square(5)

25

In [68]:
def square(x):
    x = x ** \ # add a back-slash for line continuation
    2
    print x
    return x
square(8)

64

64

### Line Continuation

Python recognizes that code lines that end with a comma are incomplete

In [69]:
numbers = [1, 2, 3, 4, 
          5, 6, 7, 8 ,
          44, 55]
print numbers

[1, 2, 3, 4, 5, 6, 7, 8, 44, 55]

You can also use the backslash

In [70]:
long_string = "This is a really really loooooong string"
print long_string

This is a really really loooooong string

### Exercise: Build a Function
#### 1. Create a function that converts Celsius to Fahrenheit.  Results should be accurate to at least one decimal point.

In [86]:
def convert_temp(C):
    F = float(9/5) * C +32
    return F

# calling a function 
result = convert_temp(85)
result

117.0

#### 2. Update your function to return a sentence (string type) with the Celsius and Fahrenheit values inserted into the string.

In [77]:
def convert_temp(C):
    F = float(9/5) * C +32
    return type(F)

# calling a function 
convert_temp(85)

float

In [87]:
def convert_temp(C):
    F = float(9/5) * C +32
    print "Then tempurature in degree farenheit right now is {}".format(F)
    print "Then tempurature in degree celsius right now is {}".format(C)
    return F

# calling the function    
convert_temp(85)

Then tempurature in degree farenheit right now is 117.0
Then tempurature in degree celsius right now is 85

117.0

In [88]:
def convert_temp(degrees_c):
    degrees_f = (degrees_c + 9.0 / 5 + 32)
    return degrees_f

def convert_temp_message2(degrees_c):
    degrees_f = convert_temp(degrees_c) #referencing the previous function inside this
    message = "Then tempurature in degree farenheit right now is {}".format(F)
    return message

convert_temp(85)

118.8